name: Android CI

on:
  push:
    #branches: [ master ]
  pull_request:
    #branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3.0.0
      with:
        submodules: 'true'

    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: setup android-ndk
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r21e
        add-to-path: true
      
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build Freedoom-Android
      run: |
          pushd doom/src/main/jni
          ndk-build
          popd
          cd doom
          ../gradlew assembleRelease

   # - uses: r0adkll/sign-android-release@v1
    #  name: Sign app APK
      # ID used to access action output
     # id: sign_app
   #   with:
     #   releaseDirectory: build/outputs/apk/release
      #  signingKeyBase64: ${{ secrets.SIGNING_KEY }}
      #  alias: ${{ secrets.ALIAS }}
        #keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}

